.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(112, 0, 0, 0.75);
    padding: 1% 0;
    border-radius: 100px;
    width: 180vh;
    box-shadow: 0 5px 50px black;
}

.logo {
    width: 60px;
}

.Menu .link{
    margin-left: 3%;
    color: white;
    transition-duration: 0.25s;
}

.Menu .link:hover{
    text-decoration: none;
    border-bottom: 1px solid white;
    transform: scale(1.5);
    transition-duration: 0.25s;
}
